<div class="page-content block-s">
		<form id="login-form" name="loginForm" class="form-content" ng-controller="LoginController">
				
			<div class="input-group">
				<label>Username or Email</label>
				<input ng-model="account" name="account" required username-valid-char />
				<div class="error" ng-messages="loginForm.account.$error" ng-show="loginForm.account.$touched">
					<div ng-message="validChar">Can not use following characters: / \ : * ? " &lt; &gt; |</div>
		          	<div ng-message="required">Please input your Username or Email</div>
		          	<div ng-message="exist">Username or Email does not exists</div>
		        </div>
			</div>

			<div class="input-group">
				<label>Password</label>
				<input type="password" ng-model="password" name="password" required />

				<div class="error" ng-messages="loginForm.password.$error" ng-show="loginForm.account.$touched">
		          <div ng-message="required">Please input your password</div>
		        </div>
			</div>
				
<!-- 			<div layout-wrap layout-gt-sm="row">
				<md-checkbox ng-model="login.remember">
					Remember Password
				</md-checkbox>
			</div> -->
		
			<div class="btn btn-primary full-w" ng-click="submit()">Login</div>
			


<!-- 			<div class="col-md-10 forget-password">
				<p><a href="#/forgetPassword" translate>Forgot your password?</a></p>
				<p><span translate>New User?</span>&nbsp;<a href="#/signup" translate>Sign up now</a></p>
			</div> -->
		</form>
	<!-- Inline template -->
<!-- 	<script type="text/ng-template" id="dialog.html"></script> -->
</div>
